// TODO: actually use theme variables
// I forgor where the variables were saved and was too lazy to find them problem for future me me go sleep
.history-list {
	position: fixed;
	right: var(--spacing);
	bottom: var(--spacing);
	display: block;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	column-gap: 2rem;
	row-gap: 0.75rem;
	padding: 1.5rem 2rem;
	background-color: var(--color-background-secondary);
	border: 1px solid var(--color-border);
	border-radius: var(--border-radius);
	box-shadow: 0 15px 50px rgba(0, 0, 0, 0.8);
	color: #e5e7eb;
	z-index: 999;
	max-height: calc(100vh - 24px);

	> :nth-child(1) {
		grid-column: 1;
		grid-row: 1;
	}

	> :nth-child(2) {
		grid-column: 1;
		grid-row: 2;
		text-align: center;
	}

	> :nth-child(3) {
		grid-column: 2;
		grid-row: 1;
	}

	> :nth-child(4) {
		grid-column: 2;
		grid-row: 2;
		text-align: center;
	}

	.close-button {
		position: absolute;
		top: var(--spacing);
		right: var(--spacing);
	}
}
