.container {
	background-color: var(--color-background-primary);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.article {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: var(--spacing);
}

.homepageArticle {
	display: flex;
	flex-direction: column;
	align-items: center;
}
