.card {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	background-color: var(--color-background-secondary);
	border-radius: var(--border-radius);
	max-width: 80vw;
	box-shadow: 0 2px 5px 1px #000000;
	width: auto;
	aspect-ratio: 4 / 1;
}

.image {
	position: relative;
	float: left;
	width: fit-content;
	height: 100%;
	min-height: 90px;
	align-content: center;
	display: flex;
	justify-content: center;
	align-items: center;
	object-fit: contain;
}

.info-card {
	--card-aspect-ratio: 5;
	float: right;
	width: calc(
		(var(--card-aspect-ratio) - 1) / var(--card-aspect-ratio) * 100%
	);
	height: 100%;
	display: flex;
	flex-direction: column;
	padding-left: 10px;
	padding-right: 10px;
}

.product-image {
	height: 100%;
	width: 100%;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	display: block;
	border-top-left-radius: var(--border-radius);
	border-bottom-left-radius: var(--border-radius);
}

.info-text {
	flex: none;
	align-items: center;
	line-height: calc(100% / 0.8);
	max-width: 100%;
	white-space: nowrap;
}

.info-text-container {
	display: flex;
	height: auto;
	flex-wrap: wrap;
	column-gap: 25px;
	row-gap: 0px;
	align-items: center;
	justify-content: flex-start;
}

.product-name-container {
	position: relative;
}

.product-name {
	font-size: 20px;
	margin-bottom: auto;
}
