.base-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.live-auction-container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  align-items: stretch;
  margin: 0;
}

.clock-container {
  grid-column: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-separator {
  grid-column: 2;
  background-color: grey;
}

.product-container {
  grid-column: 3;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: auto;
  text-align: left;
}
