root = true

[*]
indent_style = tab
indent_size = 4
trailing_comma = none
quote_type = double
single_quote = false
end_of_line = lf
semi = true
bracket_same_line = true
bracket_spacing = true

[*.{yaml,yml}]
indent_size = 2