$element-colors: (
	primary: #0051e7,
	secondary: hsl(from map-get($element-colors, primary) s - 15%),
	error: #d12020,
	warning: #e6a700,
	success: #00a600
);

.theme-dark {
	@each $name, $color in $element-colors {
		#{unquote("color-#{$name}")}: $color;
	}
	@each $name, $color in $element-colors {
		#{unquote("color-ghost-#{$name}")}: rgba(from $color a * 0.2);
	}

	$color-background-primary: #212121;
	$color-background-secondary: #2c2c2c;
	$color-background-tertiary: #383838;
	
	$color-text-primary: #f5f5f5;

	$rounding-radius: 8px;

	font-family: "Roboto", sans-serif;
	font-weight: 200;
}