$element-colors: (
	primary: #0051e7,
	secondary: hsl(from map-get($element-colors, primary) s - 15%),
	error: #d12020,
	warning: #e6a700,
	success: #00a600
);

.theme-light {
	@each $name, $color in $element-colors {
		#{unquote("color-#{$name}")}: $color;
	}
	@each $name, $color in $element-colors {
		#{unquote("color-ghost-#{$name}")}: rgba(from $color a * 0.2);
	}

	$color-background-primary: #f5f5f5;
	$color-background-secondary: #e0e0e0;
	$color-background-tertiary: #d0d0d0;
	
	$color-text-primary: #181818;

	$rounding-radius: 8px;

	$font-family: "Roboto", sans-serif;
	$font-weight: 200;
}