.root {
	display: flex;
	align-items: center;

	&.inset {
		margin-inline: var(--spacing);
	}

	.line {
		height: 1px;
		width: 100%;
		background-color: var(--color-border);
	}
	.label {
		margin: calc(var(--spacing) / 2);
	}
}
