.footer {
	border-top: 2px solid;
	border-color: var(--color-border);
	padding: 1em;
	background-color: var(--color-background-secondary);

	display: flex;
	flex-direction: row;
	justify-content: center;
}

.left {
	display: flex;
	width: 40%;
	flex-direction: column;
	justify-content: space-between;
	gap: 16px;
}

.right {
	display: flex;
	justify-content: space-between;
	width: 40%;
	flex-direction: column;
}