.footer {
	border-top: 2px solid;
	border-color: var(--color-border);
	padding: 1em;
	background-color: var(--color-background-secondary);

	display: flex;
	flex-direction: row;
	justify-content: center;
	z-index: 1;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
}

.top {
	display: flex;
	justify-content: center;
	width: 100%;
	height: fit-content;
}

.bottom {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.left {
	display: flex;
	width: 50%;
	flex-direction: column;
	align-items: center;
	margin-bottom: 15px;
}

.right {
	display: flex;
	width: 50%;
	flex-direction: column;
	align-items: center;
	margin-bottom: 15px;
}

.textBlock {
	display: flex;
	text-align: left;
	justify-content: space-between;
	flex-direction: column;
	gap: 16px;
}
