.footer {
	border-top: 2px solid;
	border-color: var(--color-border);
	padding: 1em;
	background-color: var(--color-background-secondary);

	display: flex;
	flex-direction: row;
	justify-content: center;
}

.left {
	display: flex;
	justify-content: center;
	width: 40%;
	flex-direction: column;
	column-gap: 20px;
}

.right {
	display: flex;
	justify-content: center;
	width: 40%;
}