.card {
    position: relative;
	float: left;
	width: fit-content;
	height: 100%;
    min-height: 90px;
	align-content: center;
	display: flex;
	justify-content: center;
	align-items: center;
	object-fit: contain;
}

.infoCard {
    --card-aspect-ratio: calc(5 / 1);
    float: right;
    width: calc((var(--card-aspect-ratio) - 1) / var(--card-aspect-ratio) * 100%);
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    padding-right: 3%;
}

.productImage {
    height: 100%;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	display: block;
}

.infoText {
    flex: none;
    align-items: center;
    line-height: calc(100% / 0.8);
    max-width: 100%;
    white-space: nowrap;
}

.infoTextContainer {
    display: flex;
    height: auto;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 0px;
    align-items: center;
    justify-content: flex-start;
}

.productNameContainer {
    position: relative;
}

.productName {
    font-size: 20px;
    margin-bottom: auto;
}