.card {
    position: relative;
	float: left;
	width: fit-content;
	height: 100%;
	align-content: center;
	display: flex;
	justify-content: center;
	align-items: center;
	object-fit: contain;
}

.info-card {
    --card-aspect-ratio: calc(4 / 1);
    float: right;
    width: calc((var(--card-aspect-ratio) - 1) / var(--card-aspect-ratio) * 100%);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3%;
}

.product-image {
    height: 100%;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	display: block;
}

.image-text {
    position: absolute;
}

.info-text {
    line-height: calc(100% / 0.5);
}