.card {
    position: relative;
	float: left;
	width: fit-content;
	height: 100%;
	align-content: center;
	display: flex;
	justify-content: center;
	align-items: center;
	object-fit: contain;
}

.infoCard {
    --card-aspect-ratio: calc(4 / 1);
    float: right;
    width: calc((var(--card-aspect-ratio) - 1) / var(--card-aspect-ratio) * 100%);
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 3%;
}

.productImage {
    height: 100%;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	display: block;
}

.infoText {
    line-height: calc(100% / 1);
}

.infoTextContainer {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    column-gap: 8px;
    align-items: center;
}

.productNameContainer {
    position: relative;
}

.productName {
    font-size: 20px;
}