.product-view {
	margin-left: 1vw;
	font-family: Arial, sans-serif;
	line-height: 1.6;
	width: 100%;
}

.seller {
	text-decoration: none !important;
	color: #555555;
}

.horizontal-rule {
	background-color: var(--color-border);
	height: 1px;
	width: 100%;
	border: none;
}

.thumbnail-image {
	width: 100%;
	height: auto;
	max-height: 250px;
	max-width: 250px;
	border-radius: 0.4vw;
}

.extra-image-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(5.2vw, 1fr));
	gap: 0.5vw;
	margin-top: 1vw;
}

.extra-image {
	width: 100%;
	height: auto;
	border-radius: 0.4vw;
	box-shadow: 0 0.1vw 0.26vw rgba(0, 0, 0, 0.1);
}
