.header {
	padding: var(--spacing);
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	background-color: var(--color-background-secondary);
}

.profile {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
	right: 50px;
}
