.typography {
	width: fit-content;
	height: fit-content;
	display: block;

	&.primary {
		color: var(--color-text-primary);
	}
	&.secondary {
		color: var(--color-text-secondary);
	}

	&.bold {
		font-weight: 220%;
	}

	&.link {
		text-decoration: underline;
		cursor: pointer;

		&:hover {
			filter: brightness(0.9);
		}
	}
}
