.header {
	padding: var(--spacing);
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	background-color: var(--color-background-secondary);
	z-index: 1;
}

.profile-wrapper {
	position: fixed;
	right: 50px;
}

.profile {
	border-radius: 50%;
	cursor: pointer;

	&:hover {
		filter: brightness(0.85);
	}
}

.selection-card {
	position: fixed;
	top: 80px;
	right: 50px;

	width: 160px;
	background: var(--color-background-secondary);
	border-radius: 8px;
	padding: 8px 0;

	box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.menu-item {
	padding: 10px 16px;
	cursor: pointer;

	&:hover {
		background: rgba(0, 0, 0, 0.05);
	}
}
