.header {
	padding: var(--spacing);
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	background-color: var(--color-background-secondary);
}

.profileWrapper {
  position: fixed;
  right: 50px
}

.profile {
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    filter: brightness(0.85);
  }
}

.selectionCard {
  position: fixed;
  top: 80px;
  right: 50px;

  width: 160px;
  background: var(--color-background-secondary);
  border-radius: 8px;
  padding: 8px 0;

  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  z-index: 9999;
}

.menuItem {
  padding: 10px 16px;
  cursor: pointer;

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }
}
