.section {
	padding: var(--spacing);
	background-color: var(--color-background-secondary);
	border-radius: var(--border-radius);
	max-width: 80vw;
	box-shadow: 0 2px 5px 1px #000000;
	gap: var(--spacing);

	&+.section {
		margin-top: var(--spacing);
	}
}
