.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clock-overlay {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: skyblue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.clock-overlay.pending {
  background-color: red;
}

.clock-overlay.running {
  background-color: green;
}

.clock-overlay.ended {
  background-color: orange;
}

.clock {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: royalblue;
  background-image: conic-gradient(from 0deg, darkblue, calc(360deg * var(--progress)), transparent 0deg);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-family: 'Courier New', monospace; font-size: 1.5em;
}

.clock-box {
  width: 100px;
  height: 50px;
  display: row;
  background-color: black;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-style: solid;
  font-family: 'Courier New', monospace; font-size: 1.5em;
}

.clock-box.currency { margin-bottom: 20px; }
.clock-box.price { margin-bottom: 20px; }
.clock-box.count {}

.typography {
  margin-top: 20px;
  text-align: center;
  font-family: 'Courier New', monospace;
}

.bid-button {
  font-family: 'Courier New', monospace;
  border-style: solid;
  border-color: darkblue;
  background-color: skyblue;
}
