.modal {
	position: relative;
	background-color: var(--color-background-secondary);
	border: 1px solid var(--color-border);
	border-radius: var(--border-radius);
	box-shadow: 2px 6px 12px #0004;
	width: 300px;
	max-width: 100%;
	min-height: 200px;
	margin-inline: auto;
}

.backdrop {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: calc(100vw - var(--spacing) * 2);
	height: calc(100vh - var(--spacing) * 2);
	background-color: #0008;
	overflow-y: auto;
	padding: var(--spacing);
	align-content: center;
}

.close-button {
	position: absolute;
	top: var(--spacing);
	right: var(--spacing);
}