.footer {
	border-top: 2px solid;
	border-color: var(--color-border);
	background-color: var(--color-background-secondary);

	display: flex;
	flex-direction: row;
	justify-content: center;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
}

.top {
	display: flex;
	justify-content: center;
	width: 100%;
	height: fit-content;
	margin-bottom: calc(var(--spacing) * -1);
}

.bottom {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.field {
	display: flex;
	width: 50%;
	flex-direction: column;
	align-items: center;
}

.text-block {
	display: flex;
	text-align: left;
	justify-content: space-between;
	flex-direction: column;
	gap: 16px;
}
