.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: var(--spacing);
}

.dot {
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: var(--color-text-primary);

	&:not(:first-child) {
		margin-left: 4px;
	}
}
