.container {
	padding: 16px;
}

.product-list {
	margin-top: 12px;
	max-width: 640px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: var(--spacing);
}

.product {
	display: flex;
	flex-direction: column;
	padding: 12px;
	border-radius: 8px;
	cursor: pointer;
	background: var(--color-background-secondary);
	box-shadow: 0 2px 5px 1px #000000;
	color: var(--color-text-primary);
	width: 80%;
	gap: var(--spacing);
	border: 2px solid transparent;
	transition: all 0.2s ease;

	&:hover {
		background: var(--color-background-tertiary);
	}

	.product-image {
		aspect-ratio: 1/1;
		border-radius: 4px;
		object-fit: cover;
	}

	&.selected {
		background: var(--color-background-tertiary);
		border-color: var(--color-brand);
	}
}
