.input {
	background-color: var(--color-background-secondary);
	color: var(--color-text-primary);

	padding: calc(var(--spacing) / 2);
	margin-inline: var(--spacing);
	margin-block: calc(var(--spacing) / 2);

	border-radius: var(--border-radius);
	box-shadow: inset 0 1px 3px black, 0 0 1px var(--color-border);

	border: var(--color-border) 1px solid;

	&::placeholder {
		color: var(--color-text-secondary);
	}

	&:disabled {
		filter: opacity(0.7);
	}

	&[type="number"] {
		appearance: textfield;
		&::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
			appearance: none;
			margin: 0;
		}
	}
}
