.imageBackground {
    background-image: url("https://www.visitaalsmeer.nl/wp-content/uploads/2021/06/RoyalHolland-Flower-Auction-Aalsmeer-1-1920x1440.jpg");
	background-size: cover;
    background-position: center;
    min-height: 100vh;
    max-height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: var(--color-background-secondary);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    padding: 2vw 3vw;
    margin-block: 3vw;
    border-radius: var(--border-radius);
}
