.container {
	padding: 16px;
}

.input-label {
	display: block;
	color: var(--color-text-primary);
	margin-top: 12px;
	margin-bottom: 6px;
	font-weight: 500;
}

.product-list {
	margin-top: 12px;
	max-width: 640px;
}

.product {
	display: block;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 8px;
	cursor: pointer;
	background: var(--color-background-secondary);
	color: var(--color-text-primary);

	&.selected {
		background: var(--color-background-tertiary);
	}
}