.main {
	display: flex;
	justify-content: center;
	align-items: flex-start;
    width: 100%;
    height: 100%;
}

.left {
	align-items: center;
    float: left;
    width: 70%;
    height: 100%;
}

.right {
    width: 30%;
    height: 100%;
    float: right;
}

.heading {
	display: block;
    float: center;
    line-height: 0px;
}

.subHeader {
    max-width: 50%;
    padding-left: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header4 {
    left: 40%;
    max-width: 70%;
    padding: 20px;
    background-color: var(--color-background-secondary);
    border-radius: var(--border-radius);
}

.headerText {
    line-height: 50%;
}

.header4Text {
    top: 30%;
    left: 20%;
    max-width: 70%;
}
