.main {
    width: 100%;
    height: 100%;
}

.left {
    float: left;
    width: 70%;
    height: 100%;
}

.right {
    width: 30%;
    height: 100%;
    float: right;
}

.header {
    width: calc(100% - 20px);
    padding-left: 20px;
    max-height: 1%;
}

.subHeader {
    max-width: 50%;
    padding-left: 20px;
    padding-bottom: 20px;
}

.header4 {
    left: 40%;
    max-width: 70%;
    padding: 20px;
    background-color: var(--color-background-secondary);
    border-radius: var(--border-radius);
}

.header4Text {
    top: 30%;
    left: 20%;
    max-width: 70%;
}
