.main {
    width: 100%;
    height: 100%;
}

.left {
    float: left;
    width: 70%;
    height: 100%;
}

.right {
    width: 30%;
    height: 100%;
    float: right;
}

.header {
    display: block;
    width: 100%;
    height: auto;
}

.headerText {
    float: left;
}

.subHeader {
    max-width: 50%;
}

.header4 {
    left: 40%;
    max-width: 70%;
}

.header4Text {
    top: 30%;
    left: 20%;
    max-width: 70%;
}