.main {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
    width: 100%;
    height: 100%;
	margin-top: 20px;
	padding-bottom: 30px;
	margin-bottom: 30px;
	background-image: url('https://www.visitaalsmeer.nl/wp-content/uploads/2021/06/RoyalHolland-Flower-Auction-Aalsmeer-1-1920x1440.jpg');
}

.left {
	display: flex;
	align-items: center;
    float: left;
    width: auto;
    height: 100%;
	justify-content: center;
}

.right {
	display: flex;
	width: 50%;
	height: 100%;
	float: right;
	justify-content: center;
}

.heading {
	display: block;
    float: center;
    line-height: 0px;
}

.subHeading {
	max-width: 50%;
	padding: 20px;
	margin-top: 50px;
	margin-right: 20%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	border-radius: var(--border-radius);
	background-color: var(--color-background-secondary);
}

.heading4 {
	left: 40%;
	max-width: 70%;
	padding: 20px;
	margin-top: 50px;
	background-color: var(--color-background-secondary);
	border-radius: var(--border-radius);
}

.headingText {
	line-height: 50%;
}

.headingText {
	top: 30%;
	left: 20%;
	max-width: 70%;
}

.image {
	margin-top: 20px;
	height: auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mainImage {
	width: 100%;
	height: 20%;
	max-height: 400px;
	object-fit: cover;
	border-radius: var(--border-radius);
}