.main {
	position: relative;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	width: 100%;
	height: 100%;
	margin-top: 20px;
}

.imageBackground {
	position: relative;
	display: flex;
	height: auto;
	width: 100vw;
	align-items: left;
	aspect-ratio: 4 / 3;
	background-image: url("https://www.visitaalsmeer.nl/wp-content/uploads/2021/06/RoyalHolland-Flower-Auction-Aalsmeer-1-1920x1440.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	max-height: 91vh;
	overflow: hidden;
}

.left {
	position: relative;
	display: flex;
	align-items: top;
	float: left;
	width: auto;
	height: fit-content;
	justify-content: center;
	margin-bottom: 4vw;
}

.right {
	position: relative;
	display: flex;
	width: 50%;
	height: 100%;
	float: right;
	justify-content: center;
	margin-top: 4vw;
	margin-right: 2vw;
}

.heading {
	display: block;
	float: center;
	border-radius: var(--border-radius);
	background-color: var(--color-background-primary);
	padding-left: 20px;
	padding-right: 20px;
}

.subHeading {
	max-width: 50%;
	padding: 20px;
	margin-top: 50px;
	margin-right: 20vw;
	display: flex;
	flex-direction: column;
	gap: 20px;
	border-radius: var(--border-radius);
	background-color: var(--color-background-secondary);
}

.heading4 {
	left: 40%;
	max-width: 70%;
	height: fit-content;
	padding: 20px;
	margin-top: 50px;
	background-color: var(--color-background-secondary);
	border-radius: var(--border-radius);
}
