.main {
    width: 100%;
    height: 100%;
}

.left {
    width: 50%;
    height: 100%;
}

.right {
    width: 50%;
    height: 100%;
}

.header {
    position: relative;
    top: 14%;
    left: 2%;
}

.subHeader {
    position: relative;
    max-width: 35%;
    top: 35%;
    left: 2%;
    text-align: center;
}

.subTextDiv {
    position: relative;
    top: 48%;
    left: 2%;
    max-width: 35%;
}

.header4 {
    position: relative;
    top: 25%;
    left: 70%;
    max-width: 28%;
}

.header4Text {
    position: relative;
    top: 30%;
    left: 70%;
    max-width: 28%;
}