.main {
    width: 100%;
    height: 100%;
}

.left {
    float: left;
    width: 70%;
    height: 100%;
}

.right {
    width: 30%;
    height: 100%;
    float: right;

}

.header {
    position: absolute;
    top: 10%;
    left: 1%;
    padding-bottom: 50px;
}

.subHeader {
    position: relative;
    max-width: 50%;
    top: 35%;
    left: 2%;
}

.subTextDiv {
    position: relative;
    top: 48%;
    left: 2%;
    max-width: 50%;
}

.header4 {
    position: relative;
    left: 20%;
    padding-right: 10px;
}

.header4Text {
    position: relative;
    top: 30%;
    left: 20%;
    max-width: 70%;
}