.main {
	position: relative;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	width: 100%;
	height: 100%;
	margin-top: 20px;
}

.imageBackground {
	position: relative;
	display: flex;
	align-items: flex-start;
	width: 100vw;
	background-image: url("https://www.visitaalsmeer.nl/wp-content/uploads/2021/06/RoyalHolland-Flower-Auction-Aalsmeer-1-1920x1440.jpg");
	background-size: cover;
}

.left {
	position: relative;
	display: flex;
	align-items: flex-start;
	float: left;
	width: auto;
	height: fit-content;
	justify-content: center;
	padding-left: 5%;
	margin-bottom: 4vw;
}

.right {
	position: relative;
	display: flex;
	width: 50%;
	height: 100%;
	float: right;
	justify-content: center;
	padding-top: 5%;
	margin-top: 2vw;
	margin-right: 2vw;
}

.heading {
	display: block;
	float: center;
	border-radius: var(--border-radius);
	background-color: var(--color-background-primary);
	padding-left: 20px;
	padding-right: 20px;
}

.subHeading {
	max-width: 65%;
	padding: 20px;
	margin-top: 50px;
	margin-right: 20vw;
	display: flex;
	flex-direction: column;
	gap: 20px;
	border-radius: var(--border-radius);
	background-color: var(--color-background-secondary);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
	font-size: 1.05rem;
}

.heading4 {
	left: 40%;
	max-width: 80%;
	height: fit-content;
	padding: 20px;
	margin-top: 50px;
	background-color: var(--color-background-secondary);
	border-radius: var(--border-radius);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
	font-size: 1.05rem;
}
