.main {
    width: 100%;
    height: 100%;
}

.left {
    float: left;
    width: 50%;
    height: 100%;
}

.right {
    width: 50%;
    height: 100%;
    float: right;

}

.header {
    position: relative;
    top: 10%;
    left: 2%;
    width: 40%;
    padding-bottom: 50px;
}

.subHeader {
    position: relative;
    max-width: 35%;
    top: 35%;
    left: 2%;
}

.subTextDiv {
    position: relative;
    top: 48%;
    left: 2%;
    max-width: 35%;
}

.header4 {
    position: relative;
    left: 60%;
    padding-right: 10px;
}

.header4Text {
    position: relative;
    top: 30%;
    left: 60%;
    max-width: 28%;
}