.main {
    width: 100%;
    height: 100%;
}

.left {
    float: left;
    width: 70%;
    height: 100%;
}

.right {
    width: 30%;
    height: 100%;
    float: right;
}

.header {
    width: 100%;
    height: auto;
    padding-left: 40px;
}

.subHeader {
    max-width: 50%;
    padding: 20px;
}

.header4 {
    left: 40%;
    max-width: 70%;
    background-color: #88888811;
    padding: 20px;
}

.header4Text {
    top: 30%;
    left: 20%;
    max-width: 70%;
}