.container {
    background-color: var(--color-background-secondary);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    padding-inline: 3vw;
    border-radius: var(--border-radius);
}

.email-container, .password-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 300px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.forgot-password {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-account {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding-bottom: 3vh;
}
