.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 32px;
}

.card-container {
	width: "1000px";
	max-width: "80vw";
	height: "fit-content";
	justify-content: "center";
	align-items: "flex-start";
	gap: "16px";
}

.header {
	margin-top: 24px;
	margin-bottom: 24px;
}

.no-pending-auctions {
	align-items: center;
	justify-content: center;
}

.no-pending-auctions-text {
	line-height: 4;
}
