.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    margin-top: 24px;
    margin-bottom: 24px;
}

.noPendingAuctions {
    --min-paper-height: 300;
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: var(--min-paper-height);
}