.profile-info {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 16px;
}

@mixin sectionSizing {
	max-width: 80vw;
	width: 1000px;
	padding: var(--spacing);
}

.profile-header {
	@include sectionSizing;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

/* Ensure the actual <img> inside is constrained */
.profile-image img {
	width: 96px;
	height: 96px;
	object-fit: cover;
	display: block;
	border-radius: 50%;
}

.profile-subtitle {
	margin-top: 8px;
}

.profile-products {
	@include sectionSizing;
	height: fit-content;
	margin-top: 20px;
}
